html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 roboto ;

}

.first{
  background-image: url(./images/space.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.one {
display:flex;
flex-direction: row;
justify-content: center;
text-align: left;
color: white;
margin: 0;
padding:2em;
 
}

.my-pic{
  height: 175px ;
  width: auto;
  border-radius: 20px;
  padding: 10px;
}

.info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(167, 165, 165, 0.75);
  color:black;
  height: 4em;
  padding: .5em;
  border-radius: 10px;
}

.two {
display:flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
text-align: left;
color: white;
background-color: rgba(0, 0, 0, 0.5);
}

.second {
  background-color: rgb(8, 8, 53);
  padding: 1em;
  }

.three {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin: 0 1em 2em 1em;
  border-radius: 10px;
}


.four {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  margin: 0 1em 2em 1em;
  border-radius: 10px;
} 

.p-head{
  font-size: 1.5em ;
  font-weight: bold;
  padding: 5px;
}

.lrg-pic {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  object-fit: cover;}

.blue{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(5, 57, 116);
  color: white;
  width: 8em;
  padding: .5em;
  margin: -1% -1% -1% 90%;
  border-radius: 5px;
}

.five{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top:2em;
}

.six {
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
}

.seven {
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
}


.middle-pics{
  height: 125px ;
  width: auto;
  border:1px solid transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
  padding: 1em;
}

.twitter{
  height: 50px;
  width: 125px;
  Margin: 1em;
}

.p-text {
  color:gray;
  padding: 1em;
}
